@import './colors';

h1 {
  margin: 10px 0;
  font-size: 42px;
  color: $blue;
}

h2 {
  margin: 8px 0;
  font-size: 32px;
  color: black;
}

h3 {
  margin: 6px 0;
  font-size: 28px;
  color: $blue;
}

h4 {
  margin: 6px 0;
  font-size: 20px;
  color: black;
}

h5 {
  margin: 5px 0;
  font-size: 18px;
  color: lighten(black, 30%);
}
