@import '../../../assets/scss/headers';
@import '../../../assets/scss/breakpoints';

.about {
  .about-main {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @include breakpoint(sm) {
      flex-direction: row;
    }

    .photo-container {
      width: 100%;

      @include breakpoint(sm) {
        padding: 0 60px;
        width: unset;
      }

      .photo {
        display: block;
        margin: auto;
        width: 150px;

        @include breakpoint(xs) {
          width: 200px;
        }

        @include breakpoint(sm) {
          width: 250px;
        }
      }
    }
    .text-container {
      h1,
      h2 {
        text-align: center;
      }
      box-sizing: border-box;
      margin-top: 10px;

      @include breakpoint(xs) {
        padding: 0 60px;
      }

      @include breakpoint(sm) {
        margin-top: 0;
        padding: 0 10px;
        h1,
        h2 {
          text-align: left;
        }
      }

      @include breakpoint(lg) {
        padding: 0 60px;
      }

      .list {
        padding: 0;
        padding-left: 16px;

        .list-item {
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }

      .download-button-container {
        display: none;

        @include breakpoint(sm) {
          display: block;
        }

        width: 100%;
        padding: 10px;
        text-align: center;

        .download-button {
          cursor: pointer;
          margin: 0 auto;
          background: transparent;
          padding: 5px 10px;
          display: block;
          transition: 0.5s;
          border: 2px solid darkgrey;
          font-size: 16px;

          &:hover {
            color: $blue;
            border: 2px solid $blue;
          }
        }
      }
    }
  }
}
