<section class="about">
  <section class="about-main">
    <div class="photo-container">
      <img [src]="alexFrizePhoto" class="photo" />
    </div>
    <div class="text-container">
      <h1>Alexander Frize</h1>
      <h2>Front End Developer</h2>
      <ul class="list">
        <li class="list-item">
          5+ years of extensive JavaScript Front End development usage including
          modern frameworks and libraries such as React, Redux, Angular
        </li>
        <li class="list-item">
          Deep knowledge of core JavaScript, DOM manipulations, CSS animations,
          responsive web design
        </li>
        <li class="list-item">
          Ability to write clean, reusable and maintainable code
        </li>
        <li class="list-item">
          More than 10+ yeas of experience with Adobe Photoshop
        </li>
        <li class="list-item">
          Have a good eye on design and can make app looking good
        </li>
      </ul>
      <div class="download-button-container">
        <button class="download-button" (click)="downloadResume()">
          Download resume
        </button>
      </div>
    </div>
  </section>
</section>

<app-bottom-links></app-bottom-links>
