<h2>Professional experience</h2>

<div class="company-block">
  <h3>Technical Lead</h3>
  <h4>
    Apple Inc. —
    <a class="company-link" href="https://www.apple.com/" target="blank">
      https://www.apple.com/
    </a>
  </h4>
  <h5>July 2018 – Present</h5>
</div>

<div class="company-block">
  <h3>Senior Front End Engineer</h3>
  <h4>
    ADP —
    <a class="company-link" href="https://www.adp.com/" target="blank">
      https://www.adp.com/
    </a>
  </h4>
  <h5>February 2018 – April 2018</h5>
</div>

<div class="company-block">
  <h3>Front End Developer / Technical Director</h3>
  <h4>
    1Automatic —
    <a class="company-link" href="http://1automatic.com/" target="blank">
      http://1automatic.com/
    </a>
  </h4>
  <h5>January 2014 – November 2017</h5>
</div>
